    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is GetJob?</h2>
            <p class="intro text-center">It is an app that helps unemployed youth to find jobs and it also helps employers to post vacancies according to a suitable category so that it will be easier for a job seeker to find a job that he/she qualifies for.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for unemployed youth and employers</h3>
                        <p>This app is having a section to post vacancies and have categories for a user to just go to helpful category for her/him.</p>
                    </div><!--//content-->
                </div><!--//item-->
                      
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile-friendly</h3>
                        <p>There is no need for you to go to an internet cafe or to have computer, you can use your phone on the go to check what is new in your app.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to customise</h3>
                        <p>You just need to register if you are new and see everything in an app, or login if you are existing member to check new things added.</p>
                    </div><!--//content-->
                </div><!--//item-->        
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
    
    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">License</h2>
                <div class="info">
                    <p>This GetJob App is made by a female programmer <a href="https://www.linkedin.com/in/prettynotshokovu" target="_blank">Pretty Notshokovu</a> at <a href="http://www.projectcodex.co">CodeX</a>, Cape Town for employers and unemployed youth</p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you are feeling generous and want to show your support to Pretty, you can buy her a drink. :)</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                    </div><!--//speech-bubble-->
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
       