<!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">I hope you find this GetJob useful. <br />Feel free to get in touch if you have any questions or suggestions.</p>
                <div class="author-message">                      
                    <div class="profile">
                        <img class="img-responsive" src="assets/images/pretty.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Want to get more information in the future?</h3> 
                        <p>If you like what I do, you can follow me on twitter and I will keep you informed about my next features added on app :)</p>
                        <p><strong>[Tip for unemployed youth]:</strong> If you are interested in work posted, you can put a tailored message here about your availability and qualifications to attract potential employees. Good luck!</p> 
                        <div class="source">
                            <span class="name"><a href="https://twitter.com/linokuhlekamva" target="_blank">Pretty Notshokovu</a></span>
                            <br />
                            <span class="title">GetJob</span>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/linokuhlekamva" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/pretty.mafaku.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/prettynotshokovu"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://instagram.com/linokuhlekamva"><i class="fa fa-instagram"></i></a></li>    
                        <li class="last"><a href="mailto: prettyn67@gmail.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->